::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#image{
  background-color: #ffff;
}
#title_fragment{
  background-color: #ffff;
  text-align: center;
  padding: 10px;
}
#container_fragment{
  height: 500px;
  background-color: #ffff;
  padding: 5px;
}
#text{
  overflow-y: scroll;
}
#smile{
  color: #77FF33;
}
#meh{
  color: #F8DE00;
}
#frown{
  color: #F80000;
}
#selected{
  color: blue;
}
#image img{
  width: 100%;
  height: auto;
}
