@import url(http://fonts.googleapis.com/css?family=Open+Sans);
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#container_fragment{
  background: rgba(255, 255, 255, 0.5);
  padding: 10px;
  border-radius: 10px;
}

#title_fragment{
  background-color: red;
  text-align: center;
  padding: 10px;
  background: rgba(255, 255, 255, 0);
}
#title_fragment h2 {
  font-family: 'Open Sans';
  color: #2B5275;
  font-size: 3em;
}
h4{
  color: #2B5275;
}
#text{
  overflow-y: auto;
  height:500px;
  background: rgba(255, 255, 255, 1.0);
  padding: 10px;
  margin-bottom: 5px;
}

#image{
  height: 500px;
  background-color: #ffff;
  padding: 10px;
  padding-top: 0px;
  background: rgba(255, 255, 255, 0);

}

#image img{
  width: 100%;
  height: auto;
}

#smile{
  color: #009AFF;
}
#meh{
  color: #FF5733;
}
#frown{
  color: #900C3F;
}
