
.Init-book {


  height: 10em;
  left: 0;
  bottom: 0;
}

.LuckyRead-logo {
  position: relative;
  height: 4em;
  left: 0;
  bottom: 0;
  z-index: 1;
}

.bar {
  background-color: #ffd480;

}


.Init-header {
  text-align: center;
  padding: 20px;
  color: white;
}

.Init-title {
  font-family: 'Times New Roman';
  font-size: 5em;
}

.Init-resume {
  color: #ffffff;
}

.Init-Button {
  font-family: 'Times New Roman';
  font-size: 3em;
  height: 3em;
  animation: MoveUpDown 3s linear infinite;
  position: relative;
  background-color: #E7CE6A;

}

@keyframes MoveUpDown {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 30px;
  }
}
