.Init {
  background: black;
  display: table;
  margin: 0 auto;
  margin-top: 2%;
  border-radius: 5px;
  border-style: none;
  float: none;
}

.Init-title {
  font-family: 'Times New Roman';
  font-size: 5em;
  color: white;
  text-align: center;
}


.Init-info {
  color: black;
  padding-top: 20px;
  text-align: center;
}



.Init-button-back {
  height: 200px;
  width: 200px;
  background-color: none;
  background-image: url("../resources/open_book.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  text-align: center;
  display: table;
  margin: 0 auto;
  margin-top: 2%;
  border-radius: 5px;
  border-style: none;
  font-family: 'Times New Roman';
  animation: MoveUpDown 5s linear infinite;
  position: relative;
}



@keyframes MoveUpDown {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 30px;
  }
}
