#RegistrationForm {
    background: white;
    display: table;
    margin: 0 auto;
    margin-top: 2%;
    border-radius: 5px;
    border-style: none;
}
#Form {
  display: table;
  margin: 0 auto;
  margin-top: 2%;
  margin-bottom: 2%;
}
#center{
  text-align: center;
}

.Login-title{
  color: #0E8A80;
  text-align: center;
}
