#navbar{
background-color: #e3f2fd;
  color: white;
}

#brand:hover{
  border-bottom-style: inset;
  border-bottom:  2px solid #7AACA1;

}

#brand{
    font-family: 'Dancing Script';
    font-size: 2em;
}

#navbar-brand{
  font-size: 100%;
  color: black;
}



#paperplane img{
  width: 50px;
  height: 40px;
  opacity: 0.6;
}


.dropdown-menu {
    width: 300px !important;
}


#exitButton:active{
    background:#0E8A80;
}
