.btn-group-toggle .btn-primary:active,
.btn-primary.active{
  color: #fff !important;
  background-color: #3338b7 !important;
  border-color: #3338b7 !important;
}

.list-group-item:hover{
  background-color: #A9F5D0 !important;

}
