.Init-SignUp {
  margin: 0 auto;
  border-style: none;
}

.SignUp-Title{
  color: #2B5275;
  text-align: center;
}

#RegistrationForm {
    background: white;
    display: table;
    margin: 0 auto;
    margin-top: 2%;
    border-radius: 5px;
    border-style: none;
    padding-top: 20px;
    padding-bottom: 20px;
}

#Form {
  display: table;
  margin: 0 auto;
  padding-bottom: 10px;
}

#FormInputs{
  margin-top: 15px;
  margin-bottom: 10px;
}

#center{
  text-align: center;
}



.SignUp-Button{
  text-align: center;
}
