.btn-group-toggle .btn-primary:active,
.btn-primary.active{
  color: #fff !important;
  background-color: #3338b7 !important;
  border-color: #3338b7 !important;
}

.list-group-item:hover{
  background-color: #A9F5D0 !important;

}

.btn-link{
  color: #000000 !important;
}

.btn-link:active, .btn-link.active{

}
.card{
  width: 1100px;
  padding: 0;
}

.card-header{
  background: #ffff !important;
}

label{
  margin-left: 20px !important;
  display: block;
}
