.card-columns {
  column-count: 5;
}

#topCard {
  width: 100%;
  height: 520px;
  background-color: rgba(0, 0, 0, 0.4);
  color: #BBBBBB;
}

#fragmentcard {
  overflow-y: auto;
}

#textfragment {
  font-size: 90%;
}